.section{
    padding: 50px 0 50px 0;
    overflow: auto;
}

.actualite{
    background-color: #f7f9fb;
    overflow: auto;
}

.fonctionnement{
    background-color: #eaefe8;
    overflow: auto;
}

.section-titre{
    margin: 30px 0 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', serif;
    color: rgb(65,65,68);
    font-size: 30px;
}

.section-titre .section-sous-titre{
    display: block;
    font-size: 15px;
}


.box{
    padding: 20px 0;
    overflow: auto;
    text-align: center;
}


.box .col{
    padding: 20px 20px;
    box-sizing: border-box;
    float: left;
}

.box .col-1{
    width: 100%;
}

.box .col-2{
    width: 50%;
}

.box .col-3{
    width: 33.33333333%;
}

.box .col-4{
    width: 25%;
}

.box .col-5{
    width: 20%;
}

.round-icon{
    width: 100%;
}

.nos-service-description h4{
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.nos-service-description p{
    text-align: justify-all;
    height: 100px;
}

.nos-service-description .service-btn{
    padding: 10px;
    width: 100%;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.nos-service-description .service-btn:hover{
    opacity: 0.8;
}

.border-menage{
    border: 2px solid #fcce59;
}

.border-garde-enfants{
    border: 2px solid #f99dcb;
}

.border-aides-mobilite{
    border: 2px solid #57de93;
}

.border-jardinage-bricolage{
    border: 2px solid #feb051;
}

.border-soutien-scolaire{
    border: 2px solid #64c9d9;
}

.blog{
    width: 100%;
}

.blog .blog-content{
    background-color: #FFFFFF;
    width: 45%;
    margin: 10px 0 30px 0;
    word-wrap: break-word;
}

.blog .blog-content .blog-titre{
    text-align: center;
    font-weight: normal;
    color: rgb(65,65,68);
    padding: 20px;
    font-size: 18px;
}

.blog .blog-content .blog-titre .blog-sous-titre{
    margin: 10px 0 10px 0;
    display: block;
    font-size: 13px;
    color: lightslategrey;
}

.blog .blog-content:nth-child(odd){
    float: left;
    margin-left: 20px;
}

.blog .blog-content:nth-child(even){
    float: right;
    margin-right: 20px;
}

.blog-button-detail{
    padding-bottom: 15px;
}

.blog-button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 150px;

    clear: both;
    text-decoration: none;

    border: 2px solid rgb(0,46,86);
    color: #FFFFFF;
    background-color: rgb(0,46,86);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.blog-button:hover{
  /*text-decoration: none;
    background-color: lightskyblue;
    border: 2px solid rgb(0,46,86);
    color: #000000;
    transition-duration: 500ms;*/
    opacity: 0.8;
}

.blog-image{
    width: 100%;
    height: 400px;
}

.blog-image img{
    width: 100%;
    height: 100%;
}

.blog-paragraphe{
    margin: 20px;
    font-size: 12px;
    text-align: justify;
    color: slategray;
    height: 45px;
    overflow: hidden;
}

.button-detail{
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 1px solid grey;
    color: black;
    text-decoration: none;
    width: 150px;
    padding: 2px;
    font-size: 14px;
}


.article-detail-image img{
    width: 100%;
    height: 650px;
}



.menage-color{
    color: rgb(218,165,32);
}

.menage-bg{
    background-color: rgb(218,165,32);
}

.garde-enfants-color{
    color: rgb(255,105,180);
}

.garde-enfants-bg{
    background-color: rgb(255,105,180);
}

.aides-mobilite-color{
    color: rgb(60, 179, 113);
}

.aides-mobilite-bg{
    background-color: rgb(60, 179, 113);
}

.bricolage-jardinage-color{
    color: rgb(255, 140, 0);
}

.bricolage-jardinage-bg{
    background-color: rgb(255, 140, 0);
}

.soutien-scolaire-color{
    color: rgb(23, 162, 184);
}

.soutien-scolaire-bg{
    background-color: rgb(23, 162, 184);
}


.btn-devis {
    margin: 50px auto;
    display: block;
    padding: 15px;
    color: white;
    font-size: 20px;
    width: 300px;
    cursor: pointer;
    border: 0;
}

.btn-devis:hover {
    opacity: 0.8;
}


.main-image{
    width: 100%;
    height: 850px;
    position: relative;
}

.main-image .siado-services {
    bottom:35%;
    width: 100%;
    font-size: 30px;
    position: absolute;
    text-align: center;
    font-family: Roboto;
    color: #FFFFFF;
}

.main-image .siado-services p{
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.main-image .siado-services p:hover{
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    opacity: 1;
}

.main-image .bottom-border-menage, .main-image .bottom-border-garde-enfants, .main-image .bottom-border-aides-mobilite, .main-image .bottom-border-travaux-maison, .main-image .bottom-border-soutien-scolaire{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 10px;
}

.bottom-border-menage{
    background-color: rgba(218,165,32,0.7);
}

.bottom-border-garde-enfants{
    background-color: rgba(255,105,180,0.7);
}

.bottom-border-aides-mobilite{
    background-color: rgba(60, 179, 113,0.7);
}

.bottom-border-travaux-maison{
    background-color: rgba(255, 140, 0, 0.7);
}

.bottom-border-soutien-scolaire{
    background-color: rgba(23, 162, 184, 0.7);
}


.main-image .siado-menage-title{
    background-color: rgba(218,165,32,0.7);
}

.main-image .siado-garde-enfants-title{
    background-color: rgba(255,105,180,0.7);
}

.main-image .siado-aides-mobilite-title{
    background-color: rgba(60, 179, 113,0.7);
}

.main-image .siado-travaux-maison-title{
    background-color: rgba(255, 140, 0, 0.7);
}

.main-image .siado-soutien-scolaire-title{
    background-color: rgba(23, 162, 184, 0.7);
}

.main-image img{
    height: 100%;
    width: 100%;
}

section.service{
    min-height: 500px;
    padding: 50px 0;
}

.service .service-title{
    padding: 50px 0;
}

.service .service-title .title{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    text-align: center;
    /*color: rgb(218,165,32);*/
}

.service .service-title .sous-title{
    font-family: 'Cinzel', serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    color: #828282;
}

.service .service-title hr{
    margin: 10px auto 20px auto;
}

.separator{
    width: 50%;
}

hr.menage-sep{
    border-top: 1px solid rgb(218,165,32);
}

hr.garde-enfants-sep{
    border-top: 1px solid rgb(255,105,180);
}

hr.aides-mobilite-sep{
    border-top: 1px solid rgb(60, 179, 113);
}

hr.bricolage-jardinage-sep{
    border-top: 1px solid rgb(255, 140, 0);
}

hr.soutien-scolaire-sep{
    border-top: 1px solid rgb(23, 162, 184);
}

.service .service-description p{
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    text-align: center;
}

.service-description-liste-li{
    list-style: none;
    margin: 10px 0;
}

.service-description-liste-li i{
    padding: 10px;
}

.service-description-liste-li span{
    vertical-align: middle;
    font-size: 20px;
    margin-top: 3px;
    display: inline-block;
}


@media screen and (max-width: 901px) {
    .article-detail-image img{
        height: 300px;
    }

    .article-detail .blog-post {
        margin-top: 50px !important;
    }

    .article-detail .blog-post .post .header{
        display: block !important;
    }

    .article-detail .blog-post .post .header .titre{
        padding: 20px 10px 10px 10px !important;
    }

    .article-detail .blog-post .post .header .titre h2{
        text-align: center !important;
    }

    .article-detail .blog-post .post .header .date{
        text-align: center !important;
        width: 97.5% !important;
        min-width: 97.5% !important;
        padding: 0 10px 20px 10px !important;
    }

    .article-detail .blog-post .post .header .titre h2{
        margin-bottom: 0 !important;
    }

    .article-detail .blog-post .post .header .date time{
        font-weight: normal !important;
    }
}


@media screen and (max-width: 651px) {
    .slider-image .slider-title{
        font-size: 30px !important;
    }

    .article-detail-image img{
        height: 200px;
    }

    .article-detail .blog-post .post .header .titre h2{
        font-size: 16px !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 581px) {
    .article-detail .blog-post .post .header .titre h2{
        font-size: 14px !important;
        text-align: center !important;
    }

    .article-detail .blog-post .post .header .date time{
        font-weight: normal !important;
        font-size: 10px !important;
    }
}

@media screen and (max-width: 351px) {
    .button-detail-article.big{
        font-size: 10px !important;
    }
}