{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/soutien-scolaire.jpg") }}">
        <div class="siado-services">
            <p class="siado-soutien-scolaire-title">Nos services de soutien scolaire</p>
        </div>
        <div class="bottom-border-soutien-scolaire">

        </div>
    </section>
{% endblock %}
