{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/aides-mobilite.jpg") }}">
        <div class="siado-services">
            <p class="siado-aides-mobilite-title">Nos services d'aides à la mobilité</p>
        </div>
        <div class="bottom-border-aides-mobilite">

        </div>
    </section>

    <div class="container">
        <section class="service">
            <div class="service-title">
                <h1 class="title">SIADO Personnes Agées / Handicapées</h1>
                <hr class="separator aides-mobilite-sep">
                <p class="sous-title">Une aide à domicile adaptée</p>
            </div>
            <div class="service-description">
                <ul class="service-description-liste">
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small aides-mobilite-bg" aria-hidden="true"></i>
                        <span>Aide au lever</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small aides-mobilite-bg" aria-hidden="true"></i>
                        <span>Visites</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small aides-mobilite-bg" aria-hidden="true"></i>
                        <span>Aide à la mobilité</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small aides-mobilite-bg" aria-hidden="true"></i>
                        <span>Aide administrative</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small aides-mobilite-bg" aria-hidden="true"></i>
                        <span>Toilette et habillage</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small aides-mobilite-bg" aria-hidden="true"></i>
                        <span>Accompagnement aux courses</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
