{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/soutien-scolaire.jpg") }}">
        <div class="siado-services">
            <p class="siado-soutien-scolaire-title">Nos services de soutien scolaire</p>
        </div>
        <div class="bottom-border-soutien-scolaire">

        </div>
    </section>

    <div class="container">
        <section class="service">
            <div class="service-title">
                <h1 class="title">SIADO Soutien Scolaire</h1>
                <hr class="separator soutien-scolaire-sep">
                <p class="sous-title">La réussite des enfants est une exigence pour tout parents</p>
            </div>
            <div class="service-description">
                <ul class="service-description-liste">
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small soutien-scolaire-bg" aria-hidden="true"></i>
                        <span>Aide aux devoirs</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small soutien-scolaire-bg" aria-hidden="true"></i>
                        <span>Exercices</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
