{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/aides-mobilite.jpg") }}">
        <div class="siado-services">
            <p class="siado-aides-mobilite-title">Nos services d'aides à la mobilité</p>
        </div>
        <div class="bottom-border-aides-mobilite">

        </div>
    </section>
{% endblock %}
