{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/travaux-maison.jpg") }}">
        <div class="siado-services">
            <p class="siado-travaux-maison-title">Nos services d'entretien maison</p>
        </div>
        <div class="bottom-border-travaux-maison">

        </div>
    </section>

    <div class="container">
        <section class="service">
            <div class="service-title">
                <h1 class="title">SIADO Bricolage / Jardinage</h1>
                <hr class="separator bricolage-jardinage-sep">
                <p class="sous-title">Une maison entretenue toute l'année</p>
            </div>
            <div class="service-description">
                <ul class="service-description-liste">
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small bricolage-jardinage-bg" aria-hidden="true"></i>
                        <span>Entretien intérieur / extérieur</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small bricolage-jardinage-bg" aria-hidden="true"></i>
                        <span>Travaux de rénovation</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small bricolage-jardinage-bg" aria-hidden="true"></i>
                        <span>Montage et démontage de meubles</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small bricolage-jardinage-bg" aria-hidden="true"></i>
                        <span>Retouches de peinture</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small bricolage-jardinage-bg" aria-hidden="true"></i>
                        <span>Nettoyages de baies vitrées</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small bricolage-jardinage-bg" aria-hidden="true"></i>
                        <span>Grand nettoyage de printemps</span>
                    </li>
                </ul>

                <button class="btn-devis bricolage-jardinage-bg">Demande de devis</button>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/accueil.js') }}"></script>

    <script type="text/javascript">
        var form = $('form.messageform');
        var select = $(form).find('.messageform-objet');
        var option =$(select).find("option[value='Siado Bricolage / Jardinage']").attr('selected','selected');
    </script>
{% endblock %}