{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/travaux-maison.jpg") }}">
        <div class="siado-services">
            <p class="siado-travaux-maison-title">Nos services d'entretien maison</p>
        </div>
        <div class="bottom-border-travaux-maison">

        </div>
    </section>
{% endblock %}
