{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/garde-enfants.jpg") }}">
        <div class="siado-services">
            <p class="siado-garde-enfants-title">Nos services de garde enfants</p>
        </div>
        <div class="bottom-border-garde-enfants">

        </div>
    </section>

    <div class="container">
        <section class="service">
            <div class="service-title">
                <h1 class="title">SIADO Garde Enfants</h1>
                <hr class="separator garde-enfants-sep">
                <p class="sous-title">La garde de vos enfants en toute tranquilité</p>
            </div>
            <div class="service-description">
                <ul class="service-description-liste">
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small garde-enfants-bg" aria-hidden="true"></i>
                        <span>Entrées et Sorties des classes</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small garde-enfants-bg" aria-hidden="true"></i>
                        <span>Préparer et donner un repas</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small garde-enfants-bg" aria-hidden="true"></i>
                        <span>Entretenir les espaces de vie et le linge de l'enfant</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small garde-enfants-bg" aria-hidden="true"></i>
                        <span>Procéder à la toilette et aux soins de l'enfant</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small garde-enfants-bg" aria-hidden="true"></i>
                        <span>Accompagner l'enfant dans l'apprentissage des gestes de la vie quotidienne et des règles de vie en collectivités</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small garde-enfants-bg" aria-hidden="true"></i>
                        <span>Activités pédagogiques</span>
                    </li>
                </ul>

                <button class="btn-devis garde-enfants-bg">Demande de devis</button>
            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/accueil.js') }}"></script>

    <script type="text/javascript">
        var form = $('form.messageform');
        var select = $(form).find('.messageform-objet');
        var option =$(select).find("option[value='Siado Garde Enfants']").attr('selected','selected');
    </script>
{% endblock %}
