{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/garde-enfants.jpg") }}">
        <div class="siado-services">
            <p class="siado-garde-enfants-title">Nos services de garde enfants</p>
        </div>
        <div class="bottom-border-garde-enfants">

        </div>
    </section>
{% endblock %}

