{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/main-image-menage.jpg") }}">
        <div class="siado-services">
            <p class="siado-menage-title">Nos services ménages</p>
        </div>
        <div class="bottom-border-menage">

        </div>
    </section>

    <div class="container">
        <section class="service">
            <div class="service-title">
                <h1 class="title">SIADO Ménage</h1>
                <hr class="separator menage-sep">
            </div>
            <div class="service-description">
                <ul class="service-description-liste">
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small menage-bg" aria-hidden="true"></i>
                        <span>Rangement, Repassage</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small menage-bg" aria-hidden="true"></i>
                        <span>Nettoyage intérieur / extérieur</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small menage-bg" aria-hidden="true"></i>
                        <span>Nettoyage des sols (balayer, aspirer, laver)</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small menage-bg" aria-hidden="true"></i>
                        <span>Nettoyage des poussières</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small menage-bg" aria-hidden="true"></i>
                        <span>Vider le lave linge, étendre le linge</span>
                    </li>
                    <li class="service-description-liste-li">
                        <i class="fa fa-arrow-right fa-properties icon-resize-small menage-bg" aria-hidden="true"></i>
                        <span>Utiliser les produits ménagers recommandés par le client</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>

{% endblock %}