{% extends "base.html.twig" %}

{% block body %}
    <section class="main-image">
        <img src="{{ asset("images/main-image-menage.jpg") }}">
        <div class="siado-services">
            <p class="siado-menage-title">Nos services ménages</p>
        </div>
        <div class="bottom-border-menage">

        </div>
    </section>

    <section class="service-description">

    </section>
{% endblock %}